
.m1{
    color: rgba(255, 4, 87, 0.849);
}
.m2{
    color:rgb(31, 15, 255)
    }
 .m3{
    color: blue;
 }   
 .m4{
    color: blue;
 }
 .imgg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
 }
 .img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding: 7px;
 }
 body{
   background-image:url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000") 
 }
 