#AJS1{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTguhnId2oTSYOvXiSNJuXkqjcyxvsFUiueBA&usqp=CAU)
  }
  #AJS2{
    background-image:url(r.jpg)
  }
  #AJS3{
    background-image:url(ye.jpg)
  }
  #Ajs4{
    padding-left: 0%;
  }
  .aaa{
    margin: 25px 50px 75px 100px;
  }
.coo{
    list-style-type:square;
    font-size: 19px;
    color: aliceblue;

